<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">


<footer class="footer">
    <div class="container-fluid">
        <nav class="float-left">
            <ul>
                <li><a>Hostería El Toril</a>
                </li>
            </ul>
        </nav>
        <div class="copyright float-right">
            <i class="icon ion-md-pin">  Km.1 Vía a Penipe</i><br>
            <i class="icon ion-md-call">  (03) 237 4440 -- 098 541 2282</i><br>
            <i class = "icon ion-md-mail" > eltoril@gmail.com</i><br>
            <!--<i class = "icon ion-md-list" > RUC: 0604215252001</i>-->

        </div>
    </div>
</footer>