<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
  integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">


<div class="wrapper">
  <!--MENU VERTICAL-->
  <app-menul></app-menul>
  <div class="main-panel">
    <!--BARRA SUPERIOR-->
    <app-header></app-header>
    <div class="content">
      <div class="container-fluid">

        <div class="container">
          <div class="row">

            <div class="col-lg-2"></div>
            <div class="col-lg-4">

            </div>
            <div class="col-lg-4">
              <ul class="nav nav-pills justify-content-end">
                <li class="nav-item">
                  <a class="active" id="home-tab" data-toggle="tab" href="#home">Listado

                  </a>
                </li>
                <li class="nav-item">
                  <a id="profile-tab" data-toggle="tab" href="#profile">
                    <i class="icon ion-md-person-add"></i> Nuevo Tipo
                  </a>
                </li>
              </ul>
            </div>
          </div>


          <div class="tab-content" id="myTabContent"><br>
            <div class="tab-pane active" id="home">
              <div class="col-lg-12 col-md-12">
                <div class="col-lg-4">
                  <input type="text" class="form-control" id="search-text" name="searchText" aria-describedby="search-text"
                    [(ngModel)]="searchText" placeholder="Dato a buscar" autofocus>
    
                </div>
                <div class="card">
                  <div class="card-header card-header-toril">
                    <h4 class="card-title">Tipo de Cabañas</h4>

                  </div>

                  <div class="card-body table-responsive">
                    <table class="table table-hover">
                      <thead class="text-toril">
                        <th>N.</th>
                        <th>Nombre</th>
                        <th>Descripcion</th>
                        <th>Precio/Persona</th>
                        <th>Camas</th>
                        <th>Capacidad</th>
                        <th>Opciones</th>
                      </thead>
                      <tbody>
                        <ng-container *ngFor="let tipo of dataTipos | filter: searchText ;index as i">
                          <tr>
                            <td scope="row">{{i+1}}</td>
                            <td>{{tipo.nombre}}</td>
                            <td>{{tipo.descripcion}}</td>
                            <td>{{tipo.precio}}</td>
                            <td>{{tipo.camas}}</td>
                            <td>{{tipo.capacidad}}</td>
                            <td class="text-rigth">
                              <a class="btn btn-default" title="Modificar" href="/tipos/modificartip/{{tipo._id}}"><i
                                  class="icon ion-md-create"></i></a>
                              <button class="btn btn-default" title="Eliminar Tipo" (click)="eliminar(tipo._id)">
                                <i class="icon ion-md-close"></i>
                              </button>
                            </td>
                          </tr>
                        </ng-container>
                      </tbody>
                    </table>

                    <div class="col-sm-12">
                      <div *ngIf="msj1" class="alert alert-danger alert-dismissible fade show text-center" role="alert">
                        <strong>Aviso!</strong> {{msj1}}...
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane" id="profile">
              <div class="card">
                <div class="card-header card-header-toril">
                  <h4 class="card-title">Registro de tipos de cabañas</h4>
                </div>
                <div class="card-content">
                  <div class="card-body">
                    <div class="row justify-content-center">
                      <div class="col-md-8">
                        <hr>

                        <form #frmRegister="ngForm" class="form form-horizontal" (ngSubmit)="RegistroTipo(frmRegister)">
                          <div class="form-body">
                            <div class="row">
                              <div class="col-md-4">
                                <label>
                                  Nombre:
                                </label>
                              </div>
                              <div class="col-md-8 form-group">
                                <div class="position-relative has-icon-left">
                                  <input class="form-control" type="text" name="nombre" placeholder="Nombre" ngModel
                                    required>
                                </div>
                              </div>
                              <div class="col-md-4">
                                <label>
                                  Descripcion:
                                </label>
                              </div>
                              <div class="col-md-8 form-group">
                                <div class="position-relative has-icon-left">
                                  <textarea class="form-control" type="text" name="descripcion" ngModel
                                    required></textarea>
                                </div>
                              </div>
                              <div class="col-md-4">
                                <label>
                                  Precio:
                                </label>
                              </div>
                              <div class="col-md-8 form-group">
                                <div class="position-relative has-icon-left">
                                  <input class="form-control" type="text" name="precio" placeholder="00.00" ngModel
                                    required>
                                </div>
                              </div>
                              <div class="col-md-4">
                                <label>
                                  Camas:
                                </label>
                              </div>
                              <div class="col-md-8 form-group">
                                <div class="position-relative has-icon-left">
                                  <input class="form-control" type="number" name="camas" ngModel required>
                                </div>
                              </div>

                              <div class="col-md-4">
                                <label>
                                  Capacidad:
                                </label>
                              </div>
                              <div class="col-md-8 form-group">
                                <div class="position-relative has-icon-left">
                                  <input class="form-control" type="number" name="capacidad" ngModel required>
                                </div>
                              </div>
                              <div class="col-md-4">
                                <label>
                                  Imagen:
                                </label>
                              </div>
                              <div class="col-md-8 form-group">
                                <div>
                                  <input type="file" (change)="fileChange($event)" id="customFileLang"
                                    class="custom-file-input" lang="es">
                                  
                                  <input type="hidden" id="id" name="id">
                                </div>
                              </div>
                              <div class="col-12 d-flex justify-content-end">
                                <input class="btn float-right login_btn btn-dark" type="submit" value="Registrar">
                              </div>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>




        </div>

      </div>

    </div>

    <!--FOOTER PIE DE PAGINA-->
    <app-footer></app-footer>


  </div>

</div>



<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
  integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
  integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
  integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>