<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
  integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">


<div class="wrapper">
<!--MENU VERTICAL-->
  <app-menul></app-menul>
  <div class="main-panel">
    <!--BARRA SUPERIOR-->
    <app-header></app-header>
    <div class="content">
      <div class="container-fluid">
      <div *ngIf="this.tipo!=3">
        <div class="row">

          <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="card card-stats">
              <div class="card-header card-header-success card-header-icon">
                <div class="card-icon">
                  <span class="material-icons">
                    person
                  </span>
                </div>
                <p class="card-category">Clientes</p>
                <h3 class="card-title"></h3>
              </div>
              <div class="card-footer">
                <div class="stats">
                  <span class="material-icons">
                    check_box
                  </span> {{this.clientes}} Clientes
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="card card-stats">
              <div class="card-header card-header-danger card-header-icon">
                <div class="card-icon">
                  <span class="material-icons">
                    people
                  </span>
                </div>
                <p class="card-category">Empleados</p>
                <h3 class="card-title"></h3>
              </div>
              <div class="card-footer">
                <div class="stats">
                  <span class="material-icons">
                    check_box
                  </span> {{this.empleados}} Empleados
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="card card-stats">
              <div class="card-header card-header-info card-header-icon">
                <div class="card-icon">
                  <span class="material-icons">
                    text_snippet
                  </span>
                </div>
                <p class="card-category">Reportes</p>
                <h3 class="card-title"></h3>
              </div>
              <div class="card-footer">
                <div class="stats">
                  <i class="material-icons">update</i> Actualizado
                </div>
              </div>
            </div>
          </div>
        </div>
     

        <div class="col-lg-12 col-md-12">
          <div class="card">
            <div class="card-header card-header-toril">
              <h4 class="card-title">Reservaciones actuales</h4>

            </div>
            <div class="card-body table-responsive">
              <table class="table table-hover">
                <thead class="text-toril">
                  <th>#</th>
                  <th>Cédula</th>
                  <th>Apellido</th>
                  <th>Nombre</th>
                  <th>Fecha Inicio</th>
                  <th>Fecha Fin</th>
                  <th>Total</th>
                  <th>Opciones</th>
                </thead>
                <tbody>
                  <ng-container *ngFor="let reserva of dataReserva; index as i">
                    <tr>
                        <td>{{i+1}}</td>
                        <td>{{reserva.cedula}}</td>
                        <td>{{reserva.nombre}}</td>
                        <td>{{reserva.apellido}}</td>
                        <td>{{reserva.fechai| date:'dd/MM/yyyy'}}</td>
                        <td>{{reserva.fechaf| date:'dd/MM/yyyy'}}</td>
                        <td>{{reserva.total}}</td>
                        <td class="text-rigth">
                            <a class="btn btn-default" title="Detalle Reserva"
                                href="/facturas/generarFactura/{{reserva.idreserva}}">
                                <i class="icon ion-md-copy"></i></a>                            
                        </td>
                    </tr>
                </ng-container>
                </tbody>
              </table>

              <div class="col-sm-12">
                <div *ngIf="msj1" class="alert alert-danger alert-dismissible fade show text-center" role="alert">
                  <strong>Aviso!</strong> {{msj1}}...
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
      <div *ngIf="this.tipo==3">
        <img src="../../../../assets/galeria/fondo.png" style="border-radius: 10px;">

      </div>
      </div>

    </div>

    <!--FOOTER PIE DE PAGINA-->
    <app-footer></app-footer>


  </div>

</div>



<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
  integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
  integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
  integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>