<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">


<div class="wrapper">
    <!--MENU VERTICAL-->
    <app-menul></app-menul>
    <div class="main-panel">
        <!--BARRA SUPERIOR-->
        <app-header></app-header>
        <div class="content">
            <div class="container-fluid">
                <div class="container">

                    <div class="card-body table-responsive">
                        <div class="row">

                            <div class="col-md-2">
                                <label class="float-right">
                                    Fecha Ingreso:
                                </label>
                            </div>
                            <div class="col-md-3">
                                <input type="date" name="fechai" id="fechai" class="form-control">
                            </div>
                            <div class="col-md-2">
                                <label class="float-right">
                                    Fecha Salida:
                                </label>
                            </div>
                            <div class="col-md-3">
                                <input type="date" name="fechaf" id="fechaf" class="form-control">
                            </div>
                            <div class="col-md-2">
                                <input class="btn login_btn btn-dark" type="submit" value="Buscar"(click)="buscarPorFechas()">
                            </div>
                        </div>

                    </div>
                    <div class="col-sm-12">
                        <div *ngIf="msj1"
                            class="alert alert-danger alert-dismissible fade show text-center"
                            role="alert">
                            <strong>Aviso!</strong> {{msj1}}...
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>

                    <div class="tab-content" id="myTabContent"><br>
                        <div class="tab-pane active" id="home">

                            <div class="col-lg-12 col-md-12">
                                <div class="card" id="htmlData">
                                    <div *ngIf="this.bandera==1" class="row card-body" style="padding-top:2.5%;float: left;margin-left:5%">
                                        <div class="col-sm-5">
                                            <img src="../../../../assets/imagenes/logo.png" height="75px">
                                        </div>
                                        <div class="col-sm-7 center">
                                            <p class="encabezado">HOSTERIA "EL TORIL" </p>
                                            <p class="encabezado1">RUC: {{this.ruc}}<br>
                                                Direccion: Km 1 vía a Penipe<br>
                                                Teléfono: (03) 237 4440 -- {{this.dataHosteria[0].telefono}}<br> <br>
                                            </p>
                                        </div>
                                    </div>

                                    <div *ngIf="this.bandera==0" class="card-header card-header-toril">
                                        <h4 class="card-title">Reservaciones </h4>
                                    </div>
                                    <div *ngIf="this.bandera==1" class="card-header card-header-toril">
                                        <h4 class="card-title">Reservaciones del {{this.FechaInicio}} al {{this.FechaFin}}</h4>
                                    </div>

                                    <div class="card-body table-responsive">
                                        <table class="table table-hover">
                                            <thead class="text-toril">
                                                <th>#</th>
                                                <th>N.</th>
                                                <th>Cédula</th>
                                                <th>Cliente</th>
                                                <th>Fecha</th>
                                                <th>Valor</th>
                                            </thead>
                                            <tbody>
                                               
                                                <ng-container *ngFor="let reservac of dataReserva| filter: searchText; index as i">
                                                    <tr>
                                                        <td scope="row">{{i+1}}</td>
                                                        <td>{{reservac.numero}}</td>
                                                        <td>{{reservac.cedula}}</td>
                                                        <td>{{reservac.nombre}} {{reservac.apellido}}</td>
                                                        <td>{{reservac.fecha | date: 'dd/MM/yyyy'}}</td>                                                       
                                                        <td>{{reservac.total}}</td>
                                                        <td class="text-rigth">
                                                            <a class="btn btn-default" title="Ver Detalles"
                                                            href="facturas/detalleFactura/{{reservac.idreserva}}">
                                                                <i class="icon ion-md-copy"></i>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                </ng-container>
                                            </tbody>
                                        </table>

                                        <div class="col-sm-12">
                                            <div *ngIf="msj1"
                                                class="alert alert-danger alert-dismissible fade show text-center"
                                                role="alert">
                                                <strong>Aviso!</strong> {{msj1}}...
                                                <button type="button" class="close" data-dismiss="alert"
                                                    aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <label class="form-control" style="font-weight: bold;">TOTAL: $ {{this.total}}</label>
                                    </div>
                                    <div class="col-sm-12">
                                        {{this.fecha | date:'dd/MM/yyyy'}}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 d-flex justify-content-end">

                                    <a (click)="downloadPDF()" class="btn float-right login_btn btn-dark"
                                        style="color: white;">
                                        <i class="icon ion-md-print"></i> Imprimir
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>


                </div>

            </div>

            <!--FOOTER PIE DE PAGINA-->
            <app-footer></app-footer>


        </div>

    </div>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>